/*********************************/
/***** container principale ******/
/*********************************/
#container-0{
    width: 100%;
    height: 100vh;
}

/*********************************/
/*********** upper part **********/
/*********************************/
#upper-part{
    height: calc(100% - 80px);
  }

/*********************************/
/************ sidebar ************/
/*********************************/

#sidebar{
    height: 100%;
    width: 180px;
    background-color: #000000;
    padding: 0 0 0.2rem 0;
}

/* aside top */
#aside-top{
    height: calc(100% - 90px);
    min-height: 300px;
}

#logo{
    width: 60%;
    margin: 1rem 0 1.5rem 1rem;
}

#logo-small{
    display: none;
}

#home>img, 
#search>img, 
#library>img{
    width: 12%;
    margin: 0.3rem 0 0.3rem 1rem;
}

#home{
    border-left: 2px solid greenyellow;
}

#home>a, 
#search>a, 
#library>a{
    margin-left: 0.3rem;
}

#aside-top h5, 
#aside-top #search img,
#aside-top #library img,
#list-playlist ul li a,
#add-playlist a{
    color: white;
    opacity: 0.6;
}

#home div img, #home h5{
    opacity: 1;
}

#aside-top #search:hover img,
#aside-top #library:hover img,
#list-playlist ul li a:hover,
#add-playlist:hover i,
#add-playlist:hover a{
    opacity: 1;
}

#aside-top #search:hover h5,
#aside-top #library:hover h5{
    opacity: 1;
}

#aside-top h3{
    color: white;
    text-transform: uppercase;
    margin: 1rem 0 0.3rem 1rem;
}

.fa-plus{
    font-size: 1.2rem;
    background-color: white;
    opacity: 0.6;
    color: black;
    padding:0.4rem;
    margin: 0.3rem 0 0.3rem 1rem;
}

#add-playlist h4{
    margin-left: 0.5rem;
}

#list-playlist ul{
    margin-left: 1rem;
}

#list-playlist ul li{
    line-height: 1.5rem;
}

#list-playlist{
    padding-right: 2rem;
    overflow: auto;
}

/* aside bottom */
#aside-bottom{
    height: 90px;
    padding: 0 1.2rem;
}

#aside-bottom h6{
    margin: 0.5rem;
}

#aside-bottom hr{
    border-color: #5a5a5a;
}

#aside-bottom h4{
    color: white;
}

#aside-bottom #profile-logo{
    margin: 0.5rem 0.5rem 0.5rem 0;
    background-color: #5a5a5a;
    border-radius: 50%;
}

#aside-bottom>div:hover h6{
    color: white;
} 

#download{
    margin-left: -3px;
}

#aside-bottom img{
    width: 15%;
}

/*********************************/
/************ upperbar ***********/
/*********************************/

#upperbar{
    z-index: 999999;
    height: 80px;
    width: calc(100% - 180px);
    top: 0;
    left: 180px;
    right: 0;
    background-color: #04040458;
}

/*********************************/
/************ main ***************/
/*********************************/

#main{
    height: 100%;
    width: calc(100% - 180px);
    background-color: #141922;
    overflow: auto;
    font-size: 2rem;
    padding: 0px 1rem 1rem 1rem;
}

#main ul{
    margin-top: 90px;
}

#main ul li{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    color: #7b7d82;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

#main ul li a{
    color: #7b7d82;
}

#main ul li a:hover{
    color: white;
}

#border-b-green{
    width: 2rem;
    border: 1px solid greenyellow;
}

section h2{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.card{
    margin-top: 1.5rem;
    margin-left: 1%;
    flex-basis: calc((100% / 6) - 1%);
}

.card i{
    display: none;
    font-size: 50px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .back-hover{
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b2;
}

.card .back-hover-round{
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b2;
    border-radius: 50%;
    aspect-ratio: 1;
}

.card:hover i{
    display: block;
}

.card:hover .back-hover{
    display: block;
}

.card:hover .back-hover-round{
    display: block;
}


section h3{
    padding: 0;
    margin: 0.5rem 0;
    text-align: center;
    font-size: 0.7rem;
}

section h5{
    color: #5a5a5a;
    font-size: 0.6rem;
}

.artist{
    border-radius: 50%;
    aspect-ratio: 1;
}

/* #main ul li:first-child{
    border-bottom: 1px  solid #adff30;
} */

/*********************************/
/******** footer-playbar *********/
/*********************************/

#footer-playbar{
    background-color: #282828;
    height: 80px;
    width: 100%;
    padding: 1rem;
    z-index: 999999999999999;
}

/* left content */
#left-content{
    flex-basis: 20%;
    color: #5a5a5a;
}

#left-content img{
    width: 3rem;
}

#left-content img, #left-content .fa-heart{
    margin-right: 1rem;
}

#left-content h6{
    color: white;
}

#left-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    color: #5a5a5a;
}

#left-content p:hover{
    text-decoration: underline;
    color: white;
}

.fa-heart:hover, .fa-folder:hover{
    color: white;
}

/* right content */
#right-content{
    flex-basis: 20%;
    color: white;
}

.fa-desktop{
    margin: 0 1rem;
}

.fa-volume-high{
    margin-right: 1rem;
}

.range-bar {
    /* -webkit-appearance: none; */
    height: 0.2rem;
    border-radius: 1rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
}

#vol{
    width: 6rem;
}

.volume-range:hover {
    opacity: 1;
}

/* center content */
#center-content{
    flex-basis: 60%;
    color: white;
}

#center-content i, #center-content h6 {
    margin: 0 0.7rem;
    color: white;
}

.fa-circle-play{
    font-size: 2rem;
}

#playbar .fa-circle-play:hover{
    transform: scale(1.1);
}

#play{
    width: 20rem;
}


/*********************************/
/*********** media query *********/
/*********************************/
/* display md */
@media only screen and (max-width:1024px){
    /* main */
    .card{
        flex-basis: calc((100% / 4) - 1%);
    }

    /* playbar */
    #left-content #interactive-icon{
        margin-left: 1rem;
    }
}

/* display s */
@media only screen and (max-width: 800px){
     /* main */
     .card{
        margin-top: 1.5rem;
        margin-left: 1%;
        flex-basis: calc((100% / 2) - 1%);
    }

    /* playbar */
    #left-content #interactive-icon{
        flex-direction: column;
        margin-left: 1rem;
    }

    #left-content img{
        width: 3rem;
    }

    #right-content{
        font-size: 0.8rem;
    }

    #right-content i{
        margin: 0.2rem;
    }

    #vol{
        width: 3rem;
    }

    .fa-circle-play{
        font-size: 1rem;
    }

    #center-content i, #center-content h6 {
        margin: 0 0.4rem;
        color: white;
    }

    #play{
        width: 5rem;
    }
}
/* display xs */
@media only screen and (max-width: 480px){

    /* sidebar */
    #sidebar{
        width: 50px;
        padding: 1rem 0 0.2rem 0;
        align-items: center;
    }

    #sidebar ul li div{
        padding: 0;
    }

    #logo-small,
    #home>img,
    #search>img,
    #library>img{
        display: block;
        width: 60%;
        margin: 0 auto;
        padding: 0;
    }

    #home,
    #search,
    #library{
        flex-direction: column;
    }

    #logo,
    #home h5, 
    #search h5, 
    #library h5,
    #aside-top h3, 
    #add-playlist,
    #list-playlist,
    #aside-bottom h6,
    #aside-bottom h4,
    #aside-bottom hr{
        display: none;
    }

    #aside-top ul li{
        margin: 1rem 0;
    }

    #home, #search, #library{
        border: none;
        justify-content: center;
    }

    #aside-bottom #profile-logo{
        margin: 0 auto;
        background-color: #5a5a5a;
        border-radius: 50%;
    }
    
    #aside-bottom {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    #aside-bottom div{
        display: block;
    }
    
    #aside-bottom img{
        width: 70%;
        margin: 0 auto;
    }

    #aside-bottom #download{
        margin-right: 0;
        margin-left: 0.3rem;
        margin-bottom: 0.3rem;
    }

    /* main */
    #main{
        width: calc(100% - 50px);
        left: 50px;
    }

    /* upperbar */
    #upperbar{
        left: 50px;
        width: calc(100% - 50px);
    }

     /* playbar */
    #description-song{
        display: none;
    }

    #left-content img{
        width: 3rem;
    }

     #left-content #interactive-icon{
        display: none;
    }

    #right-content{
        flex-direction: column;
        justify-content:flex-end;
        align-items:flex-end;
        margin-left: 1rem;
        font-size: 0.8rem;
    }

    #right-content .fa-volume-high{
        margin: 0;
    }

    #vol{
        width: 3rem;
        margin-top: 1rem;
    }

    .fa-circle-play{
        font-size: 1rem;
    }

    #center-content i, #center-content h6 {
        margin: 0 0.4rem;
        color: white;
    }

    #play{
        width: 3rem;
    }
}




