/* main container */
#container-0{
    width: 100%;
    height: 100vh;
}

/*********************************/
/************ sidebar ************/
/*********************************/

/* logo e lista */
#sidebar{
    height: calc(100% - 80px);
    width: 180px;
    left: 0;
    top: 0;
    background-color: #000000;
    padding: 1rem 0 0.2rem 0;
}

#sidebar #logo, #sidebar ul li div{
    padding-left: 1rem;
}

#logo{
    width: 80%;
    margin-bottom: 1rem;
}

#logo-small{
    display: none;
}

#sidebar ul li{
    margin: 0.5rem 0;
}

#sidebar h5{
    color: #5a5a5a;
    margin-left: 0.5rem;
}

#home, #search, #library{
    border-left: 0.2rem solid black;
}

#home>img, #search>img, #library>img{
    width: 15%;
}

#home{
    border-left: 0.2rem solid #adff30;
}

#home h5{
    color: white;
}

ul{
    margin-bottom: 1rem;
}

/* playlist */
h3, #playlist{
    padding-left: 1.2rem;
}

h3{
    color: white;
    text-transform: uppercase;
}

#playlist{
    margin-top: 1rem;
}

.fa-plus{
    font-size: 1.2rem;
    background-color: grey;
    color: black;
    padding:0.4rem;
    margin-right: 0.5rem;
}

#playlist ul li{
    color: #5a5a5a;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin: 0.7rem 0;
}

/* download e profile */
#profile{
    padding: 0 1.2rem;
}

#profile h6{
    margin: 0.5rem;
}

#profile hr{
    border-color: #5a5a5a;
}

#profile h4{
    color: white;
}

#profile #profile-logo{
    margin: 0.5rem 0.5rem 0.5rem 0;
    background-color: #5a5a5a;
    border-radius: 50%;
}

/*********************************/
/************ upperbar ***********/
/*********************************/

#upperbar{
    z-index: 999999;
    height: 80px;
    width: calc(100% - 180px);
    top: 0;
    left: 180px;
    right: 0;
    background-color: #04040458;
}

/*********************************/
/************ main ***************/
/*********************************/

#main{
    height: calc(100% - 80px);
    width: calc(100% - 180px);
    top: 0;
    left: 180px;
    right: 0;
    background-color: #141922;
    overflow: auto;
    font-size: 2rem;
}

/*********************************/
/************ playbar ************/
/*********************************/

#playbar{
    background-color: #282828;
    height: 80px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
}

/* left content */
#left-content{
    flex-basis: 20%;
    color: #5a5a5a;
}

#left-content img{
    width: 3rem;
}

#left-content img, #left-content .fa-heart{
    margin-right: 1rem;
}

#left-content h6{
    color: white;
}

#left-content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
}

/* right content */
#right-content{
    flex-basis: 20%;
    color: white;
}

.fa-desktop{
    margin: 0 1rem;
}

.fa-volume-high{
    margin-right: 1rem;
}

.range-bar {
    height: 0.2rem;
    border-radius: 1rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#vol{
    width: 6rem;
}

.volume-range:hover {
    opacity: 1;
}

/* center content */
#center-content{
    flex-basis: 60%;
    color: white;
}

#center-content i, #center-content h6 {
    margin: 0 0.7rem;
    color: white;
}

.fa-circle-play{
    font-size: 2rem;
}

#play{
    width: 20rem;
}


/*********************************/
/*********** media query *********/
/*********************************/
/* display md */
@media only screen and (max-width:1024px){
    #left-content #interactive-icon{
        margin-left: 1rem;
    }
}

/* display s */
@media only screen and (max-width: 768px){
    /* playbar */
    #left-content #interactive-icon{
        flex-direction: column;
        margin-left: 1rem;
    }

    #left-content img{
        width: 3rem;
    }

    #right-content{
        font-size: 0.8rem;
    }

    #right-content i{
        margin: 0.2rem;
    }

    #vol{
        width: 3rem;
    }

    .fa-circle-play{
        font-size: 1rem;
    }

    #center-content i, #center-content h6 {
        margin: 0 0.4rem;
        color: white;
    }

    #play{
        width: 5rem;
    }
}
/* display xs */
@media only screen and (max-width: 425px){

    /* sidebar */
    #sidebar{
        width: 50px;
        padding: 1rem 0 0.2rem 0;
        align-items: center;
    }

    #sidebar ul li div{
        padding: 0;
    }

    .container-loghi{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo{
        display: none;
    }

    #logo-small{
        display: block;
        width: 50%;
        margin: 0;
    }

    #home h5, #search h5, #library h5{
        display: none;
    }

    #sidebar h3, #playlist{
        display: none;
    }

    #sidebar ul li{
        margin: 1rem 0;
    }

    #home, #search, #library{
        border: none;
        justify-content: center;
    }
    
    #home>img, #search>img, #library>img{
        width: 40%;
    }
    
    #home{
        border: none;
    }

    #profile{
        align-items: center;
        padding: 0;
    }

    #profile h6{
        display: none;
    }

    #profile hr{
        display: none;
    }

    #profile h4{
        display: none;
    }

    #profile #profile-logo{
        margin: 0.5rem 0 0.5rem 0;
    }

    #profile div{
        justify-content: center;
        align-items: center;
    }

    #profile div img{
        width: 40%;
    }
    
    /* main */
    #main{
        width: calc(100% - 50px);
        left: 50px;
    }

    /* upperbar */
    #upperbar{
        left: 50px;
        width: calc(100% - 50px);
    }

     /* playbar */
    #description-song{
        display: none;
    }

    #left-content img{
        width: 3rem;
    }

     #left-content #interactive-icon{
        display: none;
    }

    #right-content{
        flex-direction: column;
        justify-content:flex-end;
        align-items:flex-end;
        margin-left: 1rem;
        font-size: 0.8rem;
    }

    #right-content .fa-volume-high{
        margin: 0;
    }

    #vol{
        width: 3rem;
        margin-top: 1rem;
    }

    .fa-circle-play{
        font-size: 1rem;
    }

    #center-content i, #center-content h6 {
        margin: 0 0.4rem;
        color: white;
    }

    #play{
        width: 3rem;
    }
}




