/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
    list-style-type: none;
}

li{
    list-style-position: inside;
}

img{
    display: block;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: #5a5a5a;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    color: #5a5a5a;
}

/* utility */
.debug{
    border: 2px solid red;
}

.overflow{
    overflow: auto;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.sticky{
    position: sticky;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.jc-sb{
    justify-content: space-between;
}

.jc-end{
    justify-content: end;
}

.jc-flex-end{
    justify-content: flex-end;
}

.ai-center{
    align-items: center;
}

.ai-start{
    align-items: start;
}

.bt{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7rem;
    border: 1px solid white;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    color: white;
    text-transform: uppercase;
    margin-right: 1rem;
}